<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h1 style="margin-left: 10px;">CITAS PENDIENTES</h1>
</div>

<div style="margin-top: 60px" *ngIf="cards.length != 0">
  <div>
    <mat-card *ngFor="let item of cards" class="example-card">
      <mat-card-title>
        {{item.doctorName}}
      </mat-card-title>
      <mat-card-subtitle>
        {{item.typologyTitle}}
      </mat-card-subtitle>
      <mat-card-content>
        <p>
          Cita: {{item.activityTitle}}
        </p>
        <p>
          Dia: {{item.startDate}}
        </p>
        <p>
          Hora: {{item.startTime}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="sanitas-button" mat-button>CHECK-IN</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>